.background-color {
  background-color: #f6fbf4;
}

.white-background {
  background-color: white;
  filter: drop-shadow(0 2px 10px rgba(0 0 0 / 0.14));
}

.header-row-padding {
  padding: 0.94rem 0.63rem;
}

.align-items-center {
  align-items: center;
}

.justify-space-between {
  justify-content: space-between;
}

.logo-formatting {
  font-family: Overpass, sans-serif;
  font-size: 1.75rem;
  color: #68b0ab;
  font-weight: 200;
  letter-spacing: 2px;
  margin: 0;
}

.plus-sign {
  color: #68b0ab;
  font-size: 1rem;
  padding-right: 0.31rem;
}

.new-anchor,
.projects-anchor {
  font-family: Inter, sans-serif;
  color: #68b0ab;
  font-size: 1rem;
  font-weight: 200;
  vertical-align: middle;
  transition-property: color;
  transition-duration: 2s;
}

.text-notebook-img {
  stroke: #68b0ab;
  height: 15px;
  padding-left: 0.63rem;
  vertical-align: middle;
}

.new-project-styling,
.projects-styling {
  font-family: "Bebas Neue", sans-serif;
  font-size: 1.85rem;
  letter-spacing: 2.5px;
  color: #03322f;
  text-align: center;
  font-weight: lighter;
}

.form-label {
  font-family: Inter, sans-serif;
  font-size: 1rem;
  color: #03322f;
  line-height: 35px;
  font-weight: 200;
  display: block;
}

.form-fields {
  background-color: rgba(189, 219, 217, 0.5);
  font-family: Inter, sans-serif;
  font-size: 1rem;
  color: #03322f;
  border-style: solid;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid #03322f;
  border-radius: 4px 4px 0 0;
  border-width: 1px;
  padding-left: 0.31rem;
}

#project-name {
  width: 100%;
  height: 30px;
  margin-bottom: 0.3rem;
}

#project-details {
  width: 100%;
  height: 50px;
  margin: 0;
  vertical-align: top;
}

#project-deadline {
  width: 10rem;
  height: 30px;
  margin-bottom: 1rem;
}

#project-deadline:invalid {
  color: gray;
}

.form-checkmark {
  color: rgb(212, 209, 209);
  margin-left: 1.5rem;
  font-size: 1.2rem;
}

.form-completed {
  color: rgb(212, 209, 209);
  margin-left: 0.3rem;
  font-family: Inter, sans-serif;
  font-size: 1rem;
}

.form-margin-bottom {
  margin-bottom: 0.8rem;
}

.color-palette-header {
  font-family: Inter, sans-serif;
  font-size: 1rem;
  color: #03322f;
  margin-top: 0;
  margin-bottom: 0;
}

.new-palette-button {
  background-color: rgba(189, 219, 217, 0.5);
  font-family: Inter, sans-serif;
  font-size: 0.63rem;
  color: #03322f;
  border-radius: 2px;
  border: none;
  width: 82px;
  height: 31px;
  margin-right: 0.31rem;
}

.inline-block {
  display: inline-block;
}

.small-margin {
  margin-bottom: 0.63rem;
}

.palette-height {
  height: 90px;
  position: relative;
}

.text-align-center {
  text-align: center;
}

.rgb-code {
  font-family: Inter, sans-serif;
  font-size: 0.5rem;
  color: #03322f;
  margin-top: 0.4rem;
}

.justify-end {
  justify-content: end;
}

.search-label {
  padding-left: 0.31rem;
  padding-right: 0.13rem;
  border-radius: 4px 0 0;
  font-size: 0.75rem;
}

#color-search {
  background-color: rgba(189, 219, 217, 0);
  border: none;
  height: 30px;
  width: 30px;
  border-radius: 0 4px 0 0;
  vertical-align: middle;
}

.save-button,
.delete-button,
.modal-delete-button,
.modal-no-button {
  background-color: #03322f;
  color: white;
  font-family: Inter, sans-serif;
  font-size: 0.88rem;
  border-radius: 2px;
  border: none;
  height: 35px;
  width: 65px;
  margin-top: 0.9rem;
}

.delete-button,
.modal-delete-button {
  background-color: #ee9e8d;
}

.justify-content-center {
  justify-content: center;
}

.projects-paceholder-text {
  font-family: Inter, sans-serif;
  color: #03322f;
  font-weight: 200;
  padding-top: 0.63rem;
  letter-spacing: 0.5px;
}

li {
  margin-bottom: 1.88rem;
}

.wrap {
  flex-wrap: no-wrap;
  display: block;
}

.polaroid-spacing {
  padding: 0;
}

.polaroid-outside-margins {
  margin: 0 2.3rem;
}

.polaroid-background {
  background-color: white;
  width: 100%;
  height: 285px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  position: relative;
  padding: 0.94rem  1.56rem;
  margin: 0 0 1.88rem;
}

.pin {
  color: #03322f;
  position: absolute;
  font-size: 1rem;
  transform: rotate(-30deg);
  left: -5px;
  top: -10px;
}

.polaroid-gradient {
  width: 100%;
  background-color: red;
  height: 11rem;
}

.polaroid-title,
.polaroid-date {
  font-family: Inter, sans-serif;
  color: #03322f;
  margin: 0.25rem 0;
  font-size: 0.88rem;
  font-weight: bold;
}

.polaroid-edit-icon {
  margin-top: 0.25rem;
  color: #03322f;
}

.polaroid-date {
  font-size: 0.69rem;
  font-weight: normal;
  margin-top: 0.13rem;
}

.polaroid-checkmark {
  color: rgb(212, 209, 209);
  font-size: 1.25rem;
}

.ellipsis {
  color: #03322f;
}

.modal-background {
  background-color: rgba(0 0 0/ 0.8);
  width: 100%;
  height: 100vh;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
}

.modal-window {
  border: none;
  background-color: #f6fbf4;
  width: 100%;
  height: 33rem;
  margin: 0 0.94rem;
  overflow: overlay;
}

.exit {
  color: #03322f;
  position: relative;
  top: 10px;
  left: 15px;
}

.modal-padding,
.delete-modal-padding,
.network-modal-padding {
  padding: 0 1.25rem;
}

.project-title-modal {
  color: #03322f;
  font-family: Inter, sans-serif;
  text-align: center;
  margin: 1.25rem 0 0.3rem;
}

.due-date-modal {
  color: #03322f;
  font-family: Inter, sans-serif;
  font-size: 1rem;
  font-weight: 300;
  text-align: center;
  margin: 0;
}

.modal-checkmark {
  color: rgb(212, 209, 209);
  text-align: center;
  margin: 0.13rem 0;
  font-size: 1.13rem;
}

.completed {
  font-family: Inter, sans-serif;
  font-size: 1rem;
  margin-left: 0.31rem;
}

.modal-edit-icon {
  margin: 0.94rem 0 0.63rem;
  color: #03322f;
  font-size: 0.13rem;
}

.details-header-modal,
.color-palette-modal-header {
  color: #03322f;
  font-family: Inter, sans-serif;
  font-size: 1.13rem;
  font-weight: bold;
}

.project-details-modal {
  color: #03322f;
  font-family: Inter, sans-serif;
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 1.25rem;
}

.modal-palette {
  width: 100%;
  background-color: red;
  height: 100px;
}

.modal-gradient {
  width: 100%;
  background-color: red;
  height: 100px;
}

.rgb-padding {
  padding: 0.31rem 0;
}

.delete-modal-window {
  border: none;
  background-color: #f6fbf4;
  width: 100%;
  height: 13rem;
  margin: 0 1.56rem;
}

.delete-modal-text {
  font-family: Inter, sans-serif;
  color: #03322f;
  text-align: center;
  font-weight: 300;
  padding: 0.63rem 0;
}

.button-top-spacing {
  padding-top: 0.94rem;
}

.network-modal-window {
  border: none;
  background-color: #f6fbf4;
  width: 100%;
  height: 15rem;
  margin: 0 1.56rem;
}

.network-modal-text {
  font-family: Inter, sans-serif;
  color: #03322f;
  font-size: 1.25rem;
  text-align: center;
  font-weight: 300;
  line-height: 30px;
}

.network-exit {
  color: #03322f;
  position: relative;
  top: 10px;
  left: 15px;
  align-self: flex-start;
}

a:hover,
.new-palette-button:hover,
.save-button:hover,
.ellipsis:hover,
.exit:hover,
.polaroid-checkmark:hover,
.modal-edit-icon:hover,
.polaroid-edit-icon:hover,
.form-checkmark:hover,
.form-completed:hover,
#color-search:hover,
.delete-button:hover,
.modal-delete-button:hover,
.modal-no-button:hover,
.network-exit:hover,
.modal-checkmark:hover {
  cursor: pointer;
}

.exit:hover,
.network-exit:hover {
  box-shadow: 0 0 10px 3px rgba(56, 239, 227, 0.5);
}

.new-anchor:hover,
.projects-anchor:hover {
  color: #03322f;
}

.form-fields:focus {
  outline: none;
  border-color: rgb(56, 239, 227);
}

.lds-grid {
  display: inline-block;
  position: absolute;
  width: 80px;
  height: 80px;
  top: 5px;
  left: 132px;
}

.lds-grid div {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #f6fbf4;
  animation: lds-grid 1.2s linear infinite;
}

.lds-grid div:nth-child(1) {
  top: 8px;
  left: 8px;
  animation-delay: 0s;
}

.lds-grid div:nth-child(2) {
  top: 8px;
  left: 32px;
  animation-delay: -0.4s;
}

.lds-grid div:nth-child(3) {
  top: 8px;
  left: 56px;
  animation-delay: -0.8s;
}

.lds-grid div:nth-child(4) {
  top: 32px;
  left: 8px;
  animation-delay: -0.4s;
}

.lds-grid div:nth-child(5) {
  top: 32px;
  left: 32px;
  animation-delay: -0.8s;
}

.lds-grid div:nth-child(6) {
  top: 32px;
  left: 56px;
  animation-delay: -1.2s;
}

.lds-grid div:nth-child(7) {
  top: 56px;
  left: 8px;
  animation-delay: -0.8s;
}

.lds-grid div:nth-child(8) {
  top: 56px;
  left: 32px;
  animation-delay: -1.2s;
}

.lds-grid div:nth-child(9) {
  top: 56px;
  left: 56px;
  animation-delay: -1.6s;
}

@keyframes lds-grid {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }
}

@media screen and (min-width: 768px) {
  .color-palette-header {
    font-size: 1.25rem;
  }

  .palette-height {
    height: 150px;
  }

  .new-palette-button {
    width: 120px;
    height: 30px;
    font-size: 12px;
    margin-right: 1.25rem;
  }

  .rgb-code {
    font-size: 0.75rem;
  }

  .search-label {
    font-size: 0.88rem;
  }

  #color-search {
    width: 50px;
  }

  .form-margin-bottom {
    margin-bottom: 1.88rem;
  }

  .polaroid-outside-margins {
    margin: 0;
  }

  .wrap {
    flex-wrap: wrap;
    display: flex;
  }

  .polaroid-gradient {
    width: 100%;
    background-color: red;
    height: 12rem;
  }

  .polaroid-background {
    width: 100%;
    height: 20rem;
  }

  .polaroid-spacing {
    padding: 0 1.25rem;
  }

  .polaroid-title {
    font-size: 1rem;
  }

  .polaroid-date {
    font-size: 0.75rem;
    margin-bottom: 0.63rem;
  }

  .ellipsis {
    font-size: 1.25rem;
  }

  .modal-window {
    height: 40rem;
    width: 70%;
  }

  .modal-padding {
    padding: 0 70px;
  }

  .modal-palette {
    height: 130px;
  }

  .modal-gradient {
    height: 130px;
  }

  .modal-edit-icon {
    margin-top: 1.56rem;
    font-size: 1.38rem;
  }

  .form-checkmark {
    font-size: 1.25rem;
  }

  .form-completed {
    font-size: 1.13rem;
  }

  .delete-modal-window {
    height: 13rem;
    width: 50%;
  }

  .button-top-spacing {
    padding-top: 30px;
  }

  .delete-modal-padding,
  .network-modal-padding {
    padding: 0 30px;
  }

  .network-modal-window {
    width: 50%;
    height: 15rem;
  }

  .network-modal-text {
    font-size: 1.5rem;
    line-height: 35px;
  }

  .lds-grid {
    width: 80px;
    height: 80px;
    top: 25%;
    left: 43%;
  }

  @media screen and (min-width: 1280px) {
    .polaroid-spacing {
      padding: 0 1.44rem;
    }

    .polaroid-title {
      font-size: 1.13rem;
    }

    .modal-window {
      height: 40rem;
      width: 50%;
    }

    .delete-modal-window {
      height: 13rem;
      width: 30%;
    }

    .network-modal-window {
      width: 30%;
      height: 15rem;
    }
  }
}
