.background-color {
  background-color: #f6fbf4;
}

.white-background {
  background-color: white;
  filter: drop-shadow(0 2px 10px rgba(0 0 0 / 0.14));
}

.header-row-padding {
  padding: 10px 0;
}

.align-items-center {
  align-items: center;
}

.justify-space-between {
  justify-content: space-between;
}

.logo-formatting {
  font-family: Overpass, sans-serif;
  font-size: 28px;
  color: #68b0ab;
  font-weight: 200;
  letter-spacing: 2px;
  margin: 0;
}

.plus-sign {
  color: #68b0ab;
  font-size: 16px;
  padding-right: 5px;
}

.new-anchor,
.projects-anchor {
  font-family: Inter, sans-serif;
  color: #68b0ab;
  font-size: 16px;
  font-weight: 200;
  vertical-align: middle;
}

.text-notebook-img {
  stroke: #68b0ab;
  height: 15px;
  padding-left: 10px;
  vertical-align: middle;
}

.new-project-styling,
.projects-styling {
  font-family: "Bebas Neue", sans-serif;
  font-size: 30px;
  letter-spacing: 2.5px;
  color: #03322f;
  text-align: center;
  font-weight: lighter;
}

.form-fields {
  background-color: rgba(189, 219, 217, 0.5);
  font-family: Inter, sans-serif;
  font-size: 16px;
  color: #03322f;
  border-style: solid;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid #03322f;
  border-radius: 4px 4px 0 0;
  border-width: 1px;
}

#project-name {
  width: 100%;
  height: 30px;
}

#project-details {
  width: 100%;
  height: 50px;
}

#project-deadline {
  width: 100%;
  height: 30px;
}

.form-margin-bottom {
  margin-bottom: 25px;
}

.color-palette-header {
  font-family: Inter, sans-serif;
  font-size: 16px;
  color: #03322f;
  margin-top: 0;
  margin-bottom: 0;
}

.new-palette-button {
  background-color: rgba(189, 219, 217, 0.5);
  font-family: Inter, sans-serif;
  font-size: 10px;
  color: #03322f;
  border-radius: 2px;
  border: none;
  width: 82px;
  height: 31px;
  margin-right: 5px;
}

.inline-block {
  display: inline-block;
}

.small-margin {
  margin-bottom: 10px;
}

.palette-height {
  height: 90px;
}

.text-align-center {
  text-align: center;
}

.rgb-code {
  font-family: Inter, sans-serif;
  font-size: 8px;
  color: #03322f;
  margin-top: 2px;
}

.justify-end {
  justify-content: end;
}

.search-label {
  padding-left: 5px;
  padding-right: 2px;
  border-radius: 4px 0 0;
  font-size: 12px;
}

#color-search {
  background-color: rgba(189, 219, 217, 0);
  border: none;
  height: 30px;
  width: 30px;
  border-radius: 0 4px 0 0;
  vertical-align: middle;
}

.save-button {
  background-color: #03322f;
  color: white;
  font-family: Inter, sans-serif;
  font-size: 14px;
  border-radius: 2px;
  border: none;
  height: 35px;
  width: 65px;
  margin-top: 15px;
}

.justify-content-center {
  justify-content: center;
}

li {
  margin-bottom: 30px;
}

.wrap {
  flex-wrap: no-wrap;
  display: block;
}

.cenetered {
  display: flex;
  justify-content: center;
}

.polaroid-spacing {
  padding: 0;
}

.polaroid-outside-margins {
  margin: 0 12%;
}

.polaroid-background {
  background-color: white;
  width: 100%;
  height: 275px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  position: relative;
  padding: 15px 25px;
  margin: 0 0 30px;
}

.pin {
  color: #03322f;
  position: absolute;
  font-size: 16px;
  transform: rotate(-30deg);
  left: -5px;
  top: -10px;
}

.polaroid-gradient {
  width: 100%;
  background-color: red;
  height: 11rem;
}

.polaroid-title,
.polaroid-date {
  font-family: Inter, sans-serif;
  color: #03322f;
  margin: 4px 0;
  font-size: 14px;
  font-weight: bold;
}

.polaroid-date {
  font-size: 11px;
  font-weight: normal;
}

.polaroid-checkmark {
  color: rgb(212, 209, 209);
  margin: 5px 0 0;
  font-size: 20px;
}

.ellipsis {
  color: #03322f;
}

.modal-background {
  background-color: rgba(0 0 0/ 0.8);
  width: 100%;
  height: 100vh;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
}

.modal-window {
  border: none;
  background-color: #f6fbf4;
  width: 100%;
  height: 33rem;
  margin: 0 15px;
  overflow: scroll;
}

.exit {
  color: #03322f;
  position: relative;
  top: 10px;
  left: 15px;
}

.modal-padding {
  padding: 0 20px;
}

.project-title-modal {
  color: #03322f;
  font-family: Inter, sans-serif;
  text-align: center;
  margin: 20px 0 5px;
}

.due-date-modal {
  color: #03322f;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  margin: 0;
}

.modal-checkmark {
  color: rgb(212, 209, 209);
  text-align: center;
  margin: 2px 0;
  font-size: 18px;
}

.completed {
  font-family: Inter, sans-serif;
  font-size: 16px;
  margin-left: 5px;
}

.details-header-modal,
.color-palette-modal-header {
  color: #03322f;
  font-family: Inter, sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.project-details-modal {
  color: #03322f;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 20px;
}

.modal-palette {
  width: 100%;
  background-color: red;
  height: 100px;
}

.modal-gradient {
  width: 100%;
  background-color: red;
  height: 100px;
}

.rgb-padding {
  padding: 5px 0;
}

a:hover,
.new-palette-button:hover,
.save-button:hover,
#color-search:hover,
.ellipsis:hover,
.exit:hover,
.modal-checkmark:hover,
.polaroid-checkmark:hover {
  cursor: pointer;
}

.exit:hover,
.ellipsis:hover {
  box-shadow: 0 0 10px 3px rgba(56, 239, 227, 0.5);
}

.form-fields:focus {
  outline: none;
  border-color: rgb(56, 239, 227);
}

@media screen and (min-width: 768px) {
  .color-palette-header {
    font-size: 20px;
  }

  .palette-height {
    height: 150px;
  }

  .new-palette-button {
    width: 120px;
    height: 30px;
    font-size: 12px;
    margin-right: 20px;
  }

  .rgb-code {
    font-size: 12px;
  }

  .search-label {
    font-size: 14px;
  }

  #color-search {
    width: 50px;
  }

  .polaroid-outside-margins {
    margin: 0;
  }

  .wrap {
    flex-wrap: wrap;
    display: flex;
  }

  .polaroid-gradient {
    width: 100%;
    background-color: red;
    height: 12rem;
  }

  .polaroid-background {
    width: 100%;
    height: 320px;
  }

  .polaroid-spacing {
    padding: 0 12px;
  }

  .polaroid-title {
    font-size: 18px;
  }

  .polaroid-date {
    font-size: 12px;
  }

  .polaroid-checkmark {
    margin: 10px 0 5px;
  }

  .ellipsis {
    margin: 0;
    font-size: 20px;
  }

  .modal-window {
    height: 40rem;
    width: 50%;
  }

  .modal-padding {
    padding: 0 70px;
  }

  .modal-palette {
    height: 130px;
  }

  .modal-gradient {
    height: 130px;
  }
}
